<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="main">
        <a name="c_{iPluginUid}" id="c_{iPluginUid}"></a>
        <f:form actionUri="{sRequestUri}#c_{iPluginUid}">
            <div class="row">
                <div class="col-sm-5">

                    <div class="input-group">

                        <select class="form-control input-lg"
                                name="tx_teufelsextcountries_teufelsextcountriesselectlist[selectedCountry]">
                            <option value="">
                                {f:translate(key: 'LLL:EXT:teufels_address/Resources/Private/Language/translation.xlf:teufels_address.select', extensionName: 'teufels_address')}
                            </option>
                            <f:for each="{aCountriesSelectState}" as="aCountry">
                                <f:if condition="{aCountry.1} == 'selected'">
                                    <f:then>
                                        <option value="{aCountry.0.uid}" selected>
                                            {aCountry.0.title}
                                        </option>
                                    </f:then>
                                    <f:else>
                                        <option value="{aCountry.0.uid}">
                                            {aCountry.0.title}
                                        </option>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </select>

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-lg" style="margin: 1px 0 0 4px;height: 44px;line-height: 44px;">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>

                    </div>

                </div>
            </div>
        </f:form>
    </f:section>
</div>